name: CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '19'
          
      - name: Update the system
        run: sudo apt install aria2 curl ripgrep

      - name: Build youtube
        run: |
          export additional_args="-e always-autorepeat -e hide-shorts-button -e custom-branding -i enable-wide-searchbar"
          sh -c "$(curl https://raw.githubusercontent.com/XDream8/revanced-creator/main/patch.sh)"
          curl -OL https://github.com/XDream8/revanced-creator/releases/download/youtube/vanced-microg.apk
          
      - name: Check file existence
        id: check_files
        uses: andstor/file-existence-action@v2
        with:
          files: "revanced-youtube-*-non-root.apk"
          fail: true

      - name: Upload build artifact
        uses: actions/upload-artifact@v3
        with:
          name: revanced-youtube
          path: |
            revanced-youtube-*-non-root.apk
            vanced-microg.apk
